<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <br>
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useLetters()" type="checkbox"/>
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useNumbers()" type="checkbox"/>
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useSymbols()" type="checkbox"/>
            Use Symbols
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth" style="background-color: #4697F1;">
        Generate Password
      </button>

      <div *ngIf ="password">
        <br>
        <label>Your Generated Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>